@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
	box-sizing: border-box;
}

body {
	background: rgb(255, 4, 4);
	background: linear-gradient(
		133deg,
		rgba(255, 4, 4, 1) 33%,
		rgba(255, 87, 4, 1) 71%,
		rgba(255, 4, 4, 1) 93%
	);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	font-family: 'Poppins', sans-serif;
}

.countdown-container {
	display: flex;
	color: white;
}

.big-text {
	font-weight: bold;
	font-size: 90px;
	line-height: 1;
	margin: 0 50px;
}

.countdown-el {
	text-align: center;
}

.countdown-el span {
	font-size: 30px;
}
