* {
	box-sizing: border-box;
}
html {
	font-size: 24px;
}
#boleta {
	align-items: center;
	border: 5px solid black;
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
	margin: 0 auto;
	width: 80%;
}
#boleta h1 {
	font-size: 40px;
}
#boleta .opciones {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 80%;
	width: 90%;
}
#boleta .opciones .pokemon {
	align-items: center;
	border: 2px solid black;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	font-size: 1.5rem;
	font-weight: 900;
	justify-content: space-evenly;
	width: 60%;
	height: 100%;
}
#boleta .opciones .pokemon .check {
	align-items: center;
	border: 5px solid black;
	display: flex;
	height: 25%;
	justify-content: center;
	width: 40%;
}

@media all and (min-width: 980px) {
	#boleta .opciones {
		flex-direction: row;
	}
}
