@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
* {
	font-family: 'Anton';
}
main {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	flex-direction: column;
}
section {
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: bisque;
	border-radius: 10px;
	padding: 25px 0px;
}
section header {
	display: flex;
	width: 100%;
}
section header h3 {
	background-color: #8149a554;
	padding: 20px;
	width: 100%;
	display: flex;
	justify-content: center;
}
#frm-registro {
	width: 70%;
	margin-top: 20px;
}
#frm-registro .fila {
	display: flex;
	justify-content: space-between;
}
#frm-registro .fila .columna {
	width: 45%;
	display: flex;
	flex-direction: column;
}

#frm-registro .fila-email {
	display: flex;
}

#frm-registro .fila-email .user-email {
	width: 100%;
	display: flex;
	flex-direction: column;
}
#frm-registro .fila-address {
	display: flex;
}
#frm-registro .fila-address .user-address {
	display: flex;
	flex-direction: column;
	width: 100%;
}
#frm-registro .fila-city {
	display: flex;
	justify-content: space-between;
}
#frm-registro .fila-city .columna-city {
	display: flex;
	flex-direction: column;
	width: 30%;
}
#frm-registro .btn-submit {
	width: 100%;
	display: flex;
	justify-content: center;
}
input {
	border-radius: 4px;
	margin: 8px 0px;
	height: 30px;
}
.btn-submit input[type='button'] {
	margin-top: 20px;
	background-color: #8149a5;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	width: 100%;
	height: 50px;
}
