/* estilos de 0px en adelante */
* {
	box-sizing: border-box;
}
html {
	font-family: 'Montserrat', sans-serif;
}
header {
	background: #373c3f;
	color: #ebebeb;
}
header #nav-mobile {
	display: flex;
	justify-content: space-between;
	min-height: 32px;
	padding-left: 3%;
}
header #nav-mobile span {
	align-items: center;
	display: flex;
	justify-content: center;
}
header #nav-mobile .material-icons {
	background: #202529;
	min-height: 32px;
	min-width: 32px;
}
header #nav-desktop {
	display: none;
}
#sct-blue {
	background: #0b9cb3;
	display: flex;
	color: white;
	flex-direction: column;
	justify-content: center;
	min-height: 175px;
	padding-left: 4%;
	width: 100%;
}
#sct-blue h1 {
	font-size: 19px;
	font-weight: 900;
	inline-size: 250px;
	overflow-wrap: break-word;
	padding-bottom: 20px;
}
#sct-blue a {
	text-decoration: none;
	color: white;
}
#sct-blue .row {
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding-right: 5%;
}
#sct-two {
	align-items: center;
	background: #27212c;
	color: #65596f;
	display: flex;
	min-height: 75px;
	justify-content: space-between;
}
#sct-two p {
	align-items: center;
	display: flex;
	font-size: 12px;
	justify-content: center;
	padding-left: 4%;
}
#sct-two .material-icons {
	align-items: center;
	background: #bc3183;
	color: white;
	display: flex;
	justify-content: center;
	min-height: 75px;
	width: 70px;
}
#sct-images {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#sct-images .box {
	align-items: center;
	background: #5b0fa1;
	color: white;
	display: flex;
	justify-content: center;
	min-height: 275px;
	width: 100%;
}
#sct-images .box .material-icons {
	font-size: 75px;
}
#sct-images .box img {
	max-width: 100%;
}
#sct-paragraph {
	align-items: center;
	background: #ebebeb;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	min-height: 445px;
	padding-left: 6%;
}
#sct-paragraph h2 {
	color: #088ca5;
	align-self: flex-start;
	font-weight: 600;
}
#sct-paragraph p {
	color: #515151;
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
}
#sct-paragraph p:nth-child(2) {
	display: none;
}

/* min == de 640 en adelante */
@media all and (min-width: 640px) {
	header #nav-mobile {
		min-height: 75px;
	}
	header #nav-mobile .material-icons {
		font-size: 32px;
		min-height: 75px;
		min-width: 75px;
	}
	#sct-blue {
		min-height: 345px;
	}
	#sct-blue h1 {
		font-size: 26px;
		inline-size: 350px;
	}
	#sct-blue .material-icons {
		font-size: 30px;
	}
	#sct-two {
		min-height: 145px;
	}
	#sct-two p {
		font-size: 14px;
	}
	#sct-two .material-icons {
		min-height: 145px;
		min-width: 145px;
	}
	#sct-images .box .material-icons {
		font-size: 75px;
	}
	#sct-paragraph h2 {
		font-size: 30px;
	}
	#sct-paragraph p {
		font-size: 22px;
	}
}

/* min == de 980 en adelante */
@media all and (min-width: 980px) {
	header #nav-mobile {
		display: none;
	}
	header #nav-desktop {
		align-items: center;
		display: flex;
		justify-content: space-between;
		min-height: 100px;
		padding-left: 4%;
		width: 60%;
	}
	header #nav-desktop a {
		color: #ebebeb;
		text-decoration: none;
	}
	#sct-blue {
		min-height: 545px;
	}
	#sct-blue .material-icons {
		font-size: 38px;
		padding-right: 5%;
	}
	#sct-blue h1 {
		font-size: 45px;
		inline-size: 550px;
	}
	#sct-blue .row a {
		font-size: 28px;
	}
	#sct-two p {
		font-size: 24px;
		min-height: 235px;
	}
	#sct-two .material-icons {
		font-size: 38px;
		min-height: 235px;
		min-width: 235px;
	}
	#sct-images {
		background: #5b0fa1;
		flex-direction: row;
		justify-content: space-evenly;
		min-height: 320px;
	}
	#sct-paragraph .group {
		display: flex;
		padding-right: 6%;
		justify-content: space-between;
	}
	#sct-paragraph p:nth-child(2) {
		display: flex;
	}
}
